*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background:#050510;
    color:white;
    min-height:100vh;
    padding:20px;
}


/* HEADER */

.header{
    text-align:center;
    margin-bottom:25px;
}


.logo{
    font-size:80px;
    margin-bottom:10px;
    animation: glow 1s infinite alternate;
}


.header h1{
    font-size:35px;
    color:#00ffff;
    text-shadow:
    0 0 10px #00ffff,
    0 0 20px #ff00ff,
    0 0 35px #ff00ff;
    animation: rgb 2s infinite alternate;
}


.header p{
    color:#ddd;
    margin-top:10px;
    font-size:16px;
}


/* INFO */

.info-box{
    max-width:700px;
    margin:20px auto;
    background:#111;
    border:2px solid #00ffff;
    border-radius:20px;
    padding:15px;
    text-align:center;
    box-shadow:0 0 20px #00ffff;
    font-size:18px;
}


/* CARD PRODUK */

.card{
    max-width:700px;
    margin:25px auto;
    background:#111;
    border-radius:20px;
    padding:20px;
    border:2px solid #ff00ff;
    box-shadow:0 0 25px #ff00ff;
}


.card h2{
    text-align:center;
    color:#00ffff;
    margin-bottom:15px;
}


.card p{
    margin:10px 0;
    font-size:17px;
}


/* STATUS */

.ready{
    color:#00ff66;
    font-weight:bold;
}


.sold{
    color:#ff3333;
    font-weight:bold;
}


/* BUTTON */

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:30px;
    margin-top:15px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    background:#ff00aa;
    color:white;
    box-shadow:0 0 15px #ff00aa;
    transition:0.3s;
}


button:hover{
    background:#00ffff;
    color:black;
}


button:disabled{
    background:#555;
    box-shadow:none;
    cursor:not-allowed;
}


/* POPUP */

.popup{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.85);
    justify-content:center;
    align-items:center;
    padding:20px;
}


.popup-box{
    background:#111;
    border:2px solid #00ffff;
    box-shadow:0 0 25px #00ffff;
    border-radius:25px;
    width:100%;
    max-width:500px;
    padding:25px;
    text-align:center;
}


.popup-box h2{
    color:#ff00ff;
    margin-bottom:15px;
}


#detailAkun{
    line-height:1.8;
    word-break:break-word;
}


/* ANIMASI */

@keyframes rgb{

0%{
color:#ff00ff;
}

50%{
color:#00ffff;
}

100%{
color:#00ff66;
}

}


@keyframes glow{

0%{
filter:drop-shadow(0 0 10px #ff00ff);
}

100%{
filter:drop-shadow(0 0 20px #00ffff);
}

}


/* RESPONSIVE */

@media(max-width:600px){

.header h1{
    font-size:26px;
}

.logo{
    font-size:60px;
}

.card p{
    font-size:15px;
}

}